@font-face{
    font-family: 'rouna';
    src: url(fonts/rouna/rouna-regular-webfont.woff2) format('woff2');
    src: url(fonts/rouna/rouna-regular-webfont.woff) format('woff');
    src: url(fonts/rouna/rouna-regular-webfont.eot) format('eot');
    src: url(fonts/rouna/rouna-regular-webfont.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rouna';
    src: url(fonts/rouna/rouna-bold-webfont.woff2) format('woff2');
    src: url(fonts/rouna/rouna-bold-webfont.woff) format('woff');
    src: url(fonts/rouna/rouna-bold-webfont.eot) format('eot');
    src: url(fonts/rouna/rouna-bold-webfont.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
}

/* Apply the font */
body {
    font-family: 'rouna';
}




.footer{
    background-color: rgb(198, 64, 64);
}

ul {
    text-align: left;
    font-family: 'rouna';
    font-weight: bold;
}